#root {
	margin: 0 auto;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.app-container {
	width: 100%;
	margin: 0;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.search-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 100%;
}

.search-input {
	width: 30rem;
	max-width: 50vw;
	height: 40px;
	font-size: 20px;
	padding: 0 10px;
}

.results-container {
	width: 30rem;
	max-width: 50vw;
	margin-top: 20px;
	max-height: 400px;
	overflow-y: scroll;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 0.5rem 10px;
	border-radius: 4px;
}

.result-item {
	padding: 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	cursor: pointer;
	border-radius: 4px;
}

.result-item:last-child {
	border-bottom: none;
}

.result-item:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.stock-details {
	width: 30rem;
	max-width: 50vw;
	background-color: rgba(255, 255, 255, 0.2);
	margin-top: 20px;
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 24px;
	padding: 0.5rem 10px;
}

.stock-price-and-fave {
	display: flex;
	align-items: center;
}

.star-selected {
	color: #ffd700;
	font-size: 24px;
	cursor: pointer;
	margin-left: 20px;
}

.star-unselected {
	font-size: 24px;
	cursor: pointer;
	margin-left: 20px;
}

.star-selected:hover {
	color: #ffcc00;
}

.star-unselected:hover {
	color: #ffcc00;
}

.favorites-container,
.recent-searches-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 100%;
	max-width: 20%;
	margin: 20px 40px 0 40px;
	max-height: 400px;
	overflow-y: scroll;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 0.5rem 1rem;
	border-radius: 4px;
}

.favorite-item,
.recent-search-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	padding: 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	cursor: pointer;
	border-radius: 4px;
}

.favorite-item:last-child,
.recent-search-item:last-child {
	border-bottom: none;
}

.favorite-item:hover,
.recent-search-item:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.error {
	color: red;
	margin-top: 20px;
}
